@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    height: 100vh;
    background: var(--body-color);
    overflow-x: hidden;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-03);
}
.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}
.sidebar li i {
    margin-right: 10px;
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover.icon,
.sidebar li a:hover.text{
    color: var(--sidebar-color);

}
.container {
    display: flex;
}

.content {
    flex-grow: 1;
    margin-left: 260px;
    margin-top: 10px;
    margin-right: 10px;    
    background: white;
    min-height: calc(98vh - 10px);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Membuat ruang antara dua card */
    margin-top: 160px; /* Sesuaikan margin sesuai kebutuhan */
    align-items: center; 
}

.card {
    flex: 0 0 calc(32% - 10px); /* Membuat card memiliki lebar sekitar 48% dari parent (card-container) */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.full-width-card {
    flex: 0 0 90%; /* Membuat card keempat memiliki lebar 100% */
    margin-top: 50px;
    margin-left: 51px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nama-user {
    color: blue;
}

.menu .nav-link-dashboard {
    background-color: none;
}

.menu-links-logout{
    margin-top: 160px;
}

.menu-links-semua {
    margin-top: 20px;
}

.nav-link-profil {
    border: 1px solid black;
}